.wsc-user-message {
    display: flex;
    padding: 10px;
    background-color: white;
    &--odd {
        background-color: aliceblue;
    }
    &__time {
        margin-right: 20px;
    }
    &__username {
        color: blueviolet;
        margin-right: 20px;
    }
    &__content {
        margin-right: 20px;
    }
}